Xft.dpi:96
! Relaxed Color Scheme

! Foreground Background & Cursor Color
#define FG  #d9d9d9
#define BG  #353a44
#define CURCOL #d9d9d9

! Black
#define C0      #151515
#define C8      #636363

! Red
#define C1      #bc5653
#define C9      #bc5653

! Green
#define C2      #909d63
#define C10     #a0ac77

! Yellow
#define C3      #ebc17a
#define C11     #ebc17a

! Blue
#define C4      #6a8799
#define C12     #7eaac7

! Magenta
#define C5      #b06698
#define C13     #b06698

! Cyan
#define C6      #c9dfff
#define C14     #acbbd0

! White
#define C7      #d9d9d9
#define C15     #f7f7f7

! Bold
#define CBD     #d9d9d9

#define xresources_sansserif Roboto
#define xresources_monospace Source Code Pro

#define ACC	C13

#include ".Xresources.d/urxvt"
#include ".Xresources.d/rofi"
#include ".Xresources.d/polybar"
#include ".Xresources.d/common"
